# pids.cfg
#
# Format:
# PID-NAME = STATUS(0: OFF, 1:ON, 2: ALARM)

JS03.TIS.CONC.LCD101	= 0
JS03.TIS.CONC.LCD102	= 0
JS03.TIS.CONC.LCD103	= 0
JS03.TIS.PLTA.LCD201	= 0
JS03.TIS.PLTA.LCD202	= 0
JS03.TIS.PLTA.LCD203	= 0
JS03.TIS.PLTA.LCD204	= 0
JS03.TIS.PLTB.LCD205	= 0
JS03.TIS.PLTB.LCD206	= 0
JS03.TIS.PLTB.LCD207	= 0
JS03.TIS.PLTB.LCD208	= 0
JS03.TIS.PLTC.LCD209	= 0
JS03.TIS.PLTC.LCD210	= 0
JS03.TIS.PLTC.LCD211	= 0
JS03.TIS.PLTC.LCD212	= 0
JS03.TIS.PLTD.LCD213	= 0
JS03.TIS.PLTD.LCD214	= 0
JS03.TIS.PLTD.LCD215	= 0
JS03.TIS.PLTD.LCD216	= 0

JS01.TIS.INTCHG.LED01	= 0
JS01.TIS.INTCHG.LED02	= 0
JS01.TIS.PLTA.PDP01		= 0
JS01.TIS.PLTA.PDP02		= 0
JS01.TIS.PLTB.PDP03		= 0
JS01.TIS.PLTB.PDP04		= 0
